# Liste les fichiers et dossiers que git doit ignorer.

# Dossier contenant l'environnement virtuel Python créé par VSCode.
/.venv/

# Dossier contenant les fichiers compilés par l'interpréteur Python.
__pycache__/