
a{
    color: rgb(251, 85, 0);
    font-family:'Franklin Gothic Medium';
    text-align:center;
}
h2{
    color: rgb(251, 85, 0); 
    font-family:'Franklin Gothic Medium';
    text-align:center;
}
/*h3{
    color: rgb(251, 85, 0); 
    font-family:'Franklin Gothic Medium'; 
    text-align: right;
}*/
.Gauche{
    color: rgb(251, 85, 0); 
    font-family:'Franklin Gothic Medium'; 
    text-align: left;
    display: flex;
    position: absolute;
}
.Droite{
    position: absolute;
    right: 0;
    text-align: right;
    display: flex;
}
body{
    background-image: url('dbackground.jpg');
    background-size: cover;
    background-repeat: 100000;
    color:  rgb(251, 85, 0)
    font-family:'Franklin Gothic Medium';
    text-align:center;
}
form{
    color: rgb(251, 85, 0); 
    font-family:'Franklin Gothic Medium';
    text-align:center;
}
p{
    color: rgb(251, 85, 0);
    font-family:'Franklin Gothic Medium';
    text-align:center;
}
input{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(251, 85, 0);
    color: rgb(251, 85, 0);
    font-family:'Franklin Gothic Medium';
}
.center {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-voiture {
    margin: 0;
    height: 100vh;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
}
.top-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
ul {
    color: rgb(251, 85, 0); 
    font-family:'Franklin Gothic Medium';
    text-align:center;
}