h1 {
    color: rgb(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    texte-align:center; 
    font-family:'Franklin Gothic Medium';
}
p{
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium';
}
body{
    background-image: url('dbackground.jpg');
    background-size: cover;
    background-repeat: 100000;
    background-position: center;
    font-family:'Franklin Gothic Medium';
}
a {
    padding: 5px 16px;
    text-align: center;
    text-decoration: wavy;
    border-style: groove; 
    border-width: 2px;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium';
}
a:hover{background-color: rgb(0, 0, 0);}
a:active{background-color: rgb(0, 0, 0);}
a:visited{color: rgb(0, 0, 0);}