body {
    background-image: url(/static/7dbackindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    margin: 0;
    height: 100vh;
    font-family: 'Franklin Gothic Medium';
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pap {
    color: rgb(251, 85, 0);
    font-size: 1.5em;
    padding: 10px 20px;
    text-align: center;
    margin-top: 18vh;
}
.pape {
    color: rgb(251, 85, 0);
    font-size: 1.5em;
    padding: 10px 20px;
    text-align: center;
    margin-top: 1.5vh;
}