<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <meta name="author" content="Moi-png, ELPHILA">
        <title>Comparateur de voitures</title>
    </head>
    <body>
        <p class="CR">
            Ferrari F430
            <br>
            <br>
            Énergie : essence
            <br>
            <br>
            Moteur : V8 4,3 L
            <br>
            <br>
            Position du moteur : Longitudinal arrière
            <br>
            <br>
            Puissance maximale : 490 ch
            <br>
            <br>
            Couple maximal : 465 N m
            <br>
            <br>
            Transmission : Propulsion différentiel piloté
            <br>
            <br>
            Boîte de vitesse : Manuelle ou automatique 6 vitesses
            <br>
            <br>
            <b>Masse à vide : 1350 kg</b>
            <br>
            <br>
            Vitesse maximale : 315 km/h
            <br>
            <br>
            Accélération de 0 à 100 km/h : 4 s
            <br>
            <br>
            <u>Longueur : 4512 mm</u>
            <br>
            <br>
            <u>Largeur	: 1923 mm</u>
            <br>
            <br>
            <u>Hauteur	: 1214 mm</u>
            <br>
            <br>
            <img src="../static/7F430.jpg" alt="plage" width="400" height="267"></img>
        </p>
        <p class="CL">
            Lamborghini Gallardo
            <br>
            <br>
            Énergie : essence
            <br>
            <br>
            Moteur : V10, 40 soupapes
            <br>
            <br>
            Position du moteur : Centrale arrière
            <br>
            <br>
            <u>Puissance maximale : De 500 à 570 ch</u>
            <br>
            <br>
            <u>Couple maximal : De 500 à 540 N m</u>
            <br>
            <br>
            Transmission : intégrale
            <br>
            <br>
            Boîte de vitesse : 6 rapports à commande manuelle
            <br>
            <br>
            Masse à vide : De 1330 à 1430 kg
            <br>
            <br>
            Vitesse maximale : 315 km/h
            <br>
            <br>
            <u>Accélération de 0 à 100 km/h : 3,8 s</u>
            <br>
            <br>
            Longueur : 4300 mm
            <br>
            <br>
            Largeur	: 1900 mm
            <br>
            <br>
            Hauteur	: 1165 mm
            <br>
            <br>
            <img src="../static/7LamborghiniGallardo.jpg" alt="plage" width="400" height=""></img>
        </p>
        <br>
        <br>
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IVK2K_yxWmQ?si=ErZMMNNv--WGZSlO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </p>
        <a href="4.Page d'acceuil.html"> Revenir a la page d'accueil </a>
    </body>
</html>